@charset "UTF-8";
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
* Mixin for inline-block that is backwards compatible up to ie7
**/
/**
* Clearfix Mixin off Nicolas Gallagher supporting all the way down to ie6
**/
/**
* Setting a font-family stack so that you only have to include the font that you want, with the fallback fonts already defined.
**/
/**
* Border Radius when all borders are equal
**/
/**
* Targeting individual border radiuses for when different radiuses are needed.
**/
/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */
/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help !important;
}

/**
 * Mute an object by reducing its opacity.
 */
.muted {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed {
  text-align: right !important;
}

/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
   <a href=# class=go>Read more</a>
 *
 */
.go:after {
  content: " " "»" !important;
}

/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
  text-transform: uppercase !important;
}

/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
.accessibility,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart...
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
* Let’s make the box model all nice, shall we...?
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * The usual...
 */
/* h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
    margin:0;
    padding:0;
} */
/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
}

/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}

#logic-modal {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
  top: 100px;
  left: 50%;
  margin-left: -625px;
  z-index: 100;
}
#logic-modal h3 {
  min-width: 1244px;
  color: white;
}

#individualisation-modal {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
  top: 100px;
  left: 50%;
  margin-left: -625px;
  z-index: 100;
  height: 75%;
}
#individualisation-modal h3 {
  min-width: 1244px;
  color: white;
}
#individualisation-modal a#btnIndividualisationClose {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none;
}
#individualisation-modal button {
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #222;
  margin: 1px 0;
  font-family: "Varela Round", sans-serif;
  font-size: 1em;
}

#individualisation-output {
  background-color: white;
  font-family: "Courier New", monospace;
  font-style: italic;
  color: #111;
  font-size: 1em;
  line-height: 0.9;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  /*
  Make full height
  */
  height: 90%;
  bottom: 10px;
  position: absolute;
  top: 68px;
  width: 98%;
  overflow: scroll;
}
#individualisation-output h3 {
  min-width: auto;
  color: #111;
  padding: 0;
  margin: 0;
}

/* Container */
.simplemodal-container {
  height: 75%;
  width: 75%;
  color: #aaa;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 12px;
}
.simplemodal-container .simplemodal-data {
  padding: 8px;
}
.simplemodal-container a.modalCloseImg {
  background: url(/kards-v1/img/basic/close.png) no-repeat;
  width: 25px;
  height: 25px;
  display: inline;
  z-index: 3200;
  background-size: 25px 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.simplemodal-container h3 {
  margin: 0 0 5px 0;
}
.simplemodal-container .logic-header-buttons {
  text-align: center;
  margin: 10px auto;
}
.simplemodal-container .btnDisabled {
  opacity: 0.5;
}
.simplemodal-container .btnRemove {
  background-color: #555555;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 0.75em;
  position: absolute;
}
.simplemodal-container .btnRemove--rule {
  right: 10px;
  margin-top: 5px;
}
.simplemodal-container .btnRemove--calculation {
  left: 668px;
  margin-top: 126px;
}
.simplemodal-container input {
  width: 80px;
  padding: 5px;
  border-radius: 2px;
  border: 0;
}
.simplemodal-container input.short {
  width: 40px;
}
.simplemodal-container select {
  width: 120px;
  font-size: 12px;
  border: 0;
}
.simplemodal-container select option {
  padding: 4px 2;
}
.simplemodal-container span {
  display: block;
  color: #aaa;
}
.simplemodal-container span strong {
  color: #000;
}
.simplemodal-container span.ruleWrapperBlockTitle--bottomMargin {
  margin-bottom: 25px;
}
.simplemodal-container span.ruleWrapperBlockLabel {
  font-size: 0.75em;
  color: #777;
}
.simplemodal-container span.ruleWrapperBlockTitle.sort {
  color: #ccc;
}
.simplemodal-container .logic-rule {
  border-bottom: 1px dashed #333;
  padding: 4px 0;
}
.simplemodal-container .logic-rule button {
  color: black;
}
.simplemodal-container .logic-action {
  border-bottom: 1px dashed #333;
  padding: 4px 0;
  margin: 4px 0;
}
.simplemodal-container .logic-action .logic-circle {
  background-color: white;
  border: 3px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 4px 0 0;
}
.simplemodal-container .logic-action span {
  display: inline-block;
  color: #333;
  padding: 5px;
}
.simplemodal-container button {
  border: 1px solid black;
  background: white;
  font-size: 1em;
  border-radius: 4px;
}
.simplemodal-container .ruleWrapper {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 4px;
}
.simplemodal-container .ruleWrapper.ruleWrapper--block {
  border-radius: 5px;
  background-color: #ccc;
  padding: 4px 4px 4px 4px;
}
.simplemodal-container .ruleWrapper.ruleWrapper--block span.ruleWrapperBlockTitle {
  color: #888;
}
.simplemodal-container .actionWrapper {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 4px;
  margin-left: 54px;
  margin-bottom: 4px;
}
.simplemodal-container .actionWrapper.actionWrapper--block {
  border-radius: 5px;
  background-color: #ccc;
  padding: 4px;
}
.simplemodal-container .actionWrapper.actionWrapper--block span.actionWrapperBlockTitle {
  color: #888;
}
.simplemodal-container .ruleWrapperBlock {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
.simplemodal-container .ruleWrapperBlockCalculationBlockWrapper {
  border-bottom: 1px dashed #999;
  margin-bottom: 5px;
}
.simplemodal-container .ruleWrapperBlockCalculationBlockWrapper header {
  *zoom: 1;
}
.simplemodal-container .ruleWrapperBlockCalculationBlockWrapper header:before, .simplemodal-container .ruleWrapperBlockCalculationBlockWrapper header:after {
  content: " ";
  display: table;
}
.simplemodal-container .ruleWrapperBlockCalculationBlockWrapper header:after {
  clear: both;
}
.simplemodal-container .calculationBlockWrapper {
  *zoom: 1;
  padding-top: 4px;
  border-top: 1px dotted #999;
}
.simplemodal-container .calculationBlockWrapper:before, .simplemodal-container .calculationBlockWrapper:after {
  content: " ";
  display: table;
}
.simplemodal-container .calculationBlockWrapper:after {
  clear: both;
}
.simplemodal-container .ruleWrapperBlockCalculationBlocks {
  border: 1px solid #999;
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
  vertical-align: top;
  text-align: center;
}
.simplemodal-container .ruleWrapperBlockCalculationBlock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: left;
}
.simplemodal-container .ruleWrapperBlockCalculationBlock.operation {
  width: 130px;
}
.simplemodal-container .ruleWrapperBlockCalculationBlock.operand {
  width: 380px;
}
.simplemodal-container .ruleWrapperBlockCalculationOperandBlock {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
.simplemodal-container .ruleWrapperBlockSuffixBlock {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
.simplemodal-container .ruleWrapperBlockSuffixBlock.topMargin {
  margin-top: -12px;
}

.html-element {
  position: absolute;
  background: none;
  /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
  pointer-events: none;
  -webkit-user-select: none;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
}
.html-element select,
.html-element input,
.html-element button,
.html-element textarea {
  /* Enable interacting with inputs only. */
  pointer-events: auto;
}
.html-element button.delete {
  display: none;
  color: white;
  border: none;
  background-color: #C0392B;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: middle;
  position: absolute;
  top: -15px;
  left: -15px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}
.html-element button.delete:hover {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.html-element select {
  position: absolute;
  right: 2px;
  bottom: 28px;
}
.html-element input {
  position: absolute;
  background: none;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  color: #000;
  padding: 5px;
  height: 40px;
  font-size: 11px;
  width: 100%;
}
.html-element textarea {
  position: absolute;
  background: none;
  bottom: 20px;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  color: #000;
  font-size: 11px;
  height: 100px;
  width: 100%;
}
.html-element label {
  color: #000;
}
.html-element span {
  position: absolute;
  top: 2px;
  right: 9px;
  color: white;
  font-size: 10px;
  display: none;
}

div#HUD {
  position: fixed;
  bottom: -170px;
  padding: 30px 0;
  height: auto;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 0 0 -25%;
  left: 50%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
}
div#HUD h3 {
  color: white;
  margin: 0 0 10px 0;
  padding: 0;
}
div#HUD a.btnBack, div#HUD a.btnNext {
  color: white;
  font-size: 2em;
  text-decoration: none;
  top: -8px;
  position: relative;
}
div#HUD ul {
  width: auto;
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 0;
}
div#HUD ul li {
  display: inline-block;
  padding: 4px;
  float: left;
}
div#HUD ul li a {
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px 0;
  border-radius: 6px;
  border: 3px solid #333;
  background-color: #efefef;
  font-size: 0.75em;
  text-decoration: none;
  font-weight: bold;
}
div#HUD ul li a:hover, div#HUD ul li a.selected {
  padding: 3px 0;
  border: 5px solid #333;
  background-color: #99ccff;
}
div#HUD button {
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #222;
  margin: 1px 0;
  font-family: "Varela Round", sans-serif;
  font-size: 1em;
}

.rectangle {
  position: absolute;
  border: 4px solid black;
}

html, body {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

body {
  background-color: #99ccff;
}

header .testMode {
  position: fixed;
  left: 10px;
  top: 10px;
}
header h1 {
  position: fixed;
  width: 100%;
  pointer-events: none;
  top: 0px;
  text-align: center;
}
header h2 {
  position: fixed;
  width: 100%;
  pointer-events: none;
  top: 40px;
  text-align: center;
}
header input.reportTitle {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  font-size: 1.25em;
  position: fixed;
  top: 70px;
  left: 0;
  background: none;
}
header select#reportCategory {
  width: 175px;
  position: fixed;
  left: 50%;
  top: 100px;
  margin-left: -85px;
}

div.formPanelControls {
  position: fixed;
  display: block;
  padding: 5px;
  width: 275px;
  bottom: 10px;
  left: 10px;
  background-color: rgba(58, 88, 97, 0.5);
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
}
div.formPanelControls h3 {
  color: #111111;
  margin: 4px 0 2px 0;
}

form {
  position: fixed;
  background-color: rgba(58, 88, 97, 0.5);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
form.faded {
  opacity: 0;
  pointer-events: none;
}
form.formReportOptions {
  display: block;
  padding: 5px;
  width: 275px;
  top: 40px;
  left: 10px;
}
form.formSectionOptions {
  display: block;
  padding: 5px;
  width: 275px;
  top: 295px;
  left: 10px;
}
form.formQuestionOptions {
  display: block;
  padding: 5px;
  width: 275px;
  top: 410px;
  left: 10px;
}
form.formAnswerInputOptions {
  display: block;
  padding: 5px;
  width: 275px;
  top: 50px;
  right: 10px;
}
form.formAnswerOptions {
  display: block;
  padding: 5px;
  width: 275px;
  top: 60px;
  right: 10px;
}
form.formContentOptions {
  display: block;
  padding: 5px;
  width: 800px;
  bottom: 10px;
  left: 50%;
  margin-left: -400px;
}
form.formContentOptions a#btnContentControlsClose {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none;
}
form.formEndPointOptions {
  display: block;
  padding: 5px;
  width: 275px;
  bottom: 10px;
  right: 10px;
}
form h3 {
  color: #111111;
  margin: 4px 0 2px 0;
}
form label.timeLabel, form label.answerLogic {
  font-style: italic;
  color: #333;
  font-size: 0.6em;
}
form input {
  font-family: "Varela Round", sans-serif;
  padding: 3px 2px;
  font-size: 0.75em;
  color: #555;
  border: none;
  border-radius: 2px;
  background-color: #CFF6F4;
}
form input[type="text"] {
  width: 265px;
}
form textarea {
  font-family: "Varela Round", sans-serif;
  padding: 3px 2px;
  width: 100%;
  font-size: 0.75em;
  color: #555;
  border: none;
  border-radius: 2px;
  background-color: #cff6f4;
}
form button {
  width: 100%;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #222;
  margin: 1px 0;
  font-family: "Varela Round", sans-serif;
  font-size: 1em;
}
form label {
  display: block;
  font-size: .75em;
}
form div.form-controls {
  *zoom: 1;
  padding: 5px 0 0 0;
}
form div.form-controls:before, form div.form-controls:after {
  content: " ";
  display: table;
}
form div.form-controls:after {
  clear: both;
}
form select {
  width: 200px;
}
form div.form-controls--width-half {
  width: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  box-sizing: border-box;
  padding-right: 30px;
}
form div.form-controls--width-half input {
  width: 75px;
}
form div.form-controls--width-full {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  box-sizing: border-box;
  /*input
  {
      width: 75px;
  }*/
}
form div.form-controls--inline-left {
  display: inline-block;
  float: left;
  margin-right: 20px;
  padding: 5px 0;
}
form .pull-left {
  float: left;
}
form .pull-right {
  float: right;
}
form.jointTestControls {
  position: absolute;
  top: 800px;
}

div#navigator {
  position: absolute;
  right: 0;
  top: 0;
}

input[type='button'] {
  padding: 10px;
  margin: 10px;
}

div.alert {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}

/* jointjs elements */
.element.Path path {
  fill: #ecf0f1;
  stroke: #333333;
  stroke-width: 1px;
}

.element.Path:hover path {
  fill: #effff1;
}

.element.Path text {
  fill: #333333;
  font-weight: 800;
}

/* svg */
.bbox {
  stroke: #16a085;
  stroke-width: 2;
  stroke-opacity: 0;
  fill: none;
  transition-property: stroke-opacity;
  transition-duration: 0.5s;
  pointer-events: none;
}

.axis {
  stroke: #95a5a6;
  stroke-dasharray: 2,4;
  stroke-width: 1;
  pointer-events: none;
}

.padding {
  stroke: #1abc9c;
  stroke-opacity: 0;
  transition-property: stroke-opacity;
  transition-duration: 1s;
  pointer-events: none;
}

.grid {
  stroke: #16a085;
  stroke-width: 0.5;
  stroke-opacity: 0;
  transition-property: stroke-opacity;
  transition-duration: 1s;
  pointer-events: none;
}

.active {
  stroke-opacity: 0.5;
}

.padding.active, .bbox.active {
  stroke-opacity: 0.2;
}

/* IE can't handle paths without the `d` attribute for bounding box calculation */
.marker-source, .marker-target {
  display: none;
}

/*# sourceMappingURL=kards.css.map */
