@import "variables";
@import "mixins";
@import "helper";
@import "reset";
@import "html-element";


.rectangle
{
    position: absolute;
    border: $borderStyle;
}

html,body
{
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

body
{
    background-color: #99ccff;
}

header {

    h1 {
        position: fixed;
        left: 50%;
        margin-left: -76px;
        top: 10px;
        text-align: center;
    }

    input.reportTitle {
        width: 100%;
        border: none;
        -webkit-appearance: none;
        text-align: center;
        font-size: 1.25em;
        position: fixed;
        top: 70px;
        left: 0;
        background: none;
    }

    select#reportCategory {
        width: 175px;
        position: fixed;
        left: 50%;
        top: 100px;
        margin-left: -85px;
    }

}


div.formPanelControls
{
    position: fixed;
    display: block;
    padding: 5px;
    width: 275px;
    bottom: 20px;
    left: 10px;

    background-color: rgba(#3A5861, 0.5);
    color: white;
    font-size: 1.1em;
    border-radius: 4px;

    h3
    {
        color: #111111;
    }

}

form
{
    position: fixed;
    background-color: rgba(#3A5861, 0.5);
    color: white;
    font-size: 1.1em;
    border-radius: 8px;

    &.formQuestionOptions {

        display: block;
        padding: 5px;
        width: 275px;
        top: 40px;
        left: 10px;

    }

    &.formAnswerOptions {

        display: block;
        padding: 5px;
        width: 275px;
        top: 40px;
        right: 10px;

    }

    &.formContentOptions {

        display: block;
        padding: 5px;
        width: 275px;
        top: 580px;
        right: 10px;

    }

    h3
    {
        color: #111111;
    }

    input
    {
        font-family: 'Varela Round', sans-serif;
        padding: 3px 2px;
        font-size: 1.1em;
        color: #555;
        border: none;
        border-radius: 2px;
        background-color: #CFF6F4;
    }

    textarea
    {
        font-family: 'Varela Round', sans-serif;
        padding: 3px 2px;
        width: 100%;
//        height: 100px;
        font-size: 1.1em;
        color: #555;
        border: none;
        border-radius: 2px;
        background-color: #cff6f4;
    }

    button
    {

        width: 100%;
        padding: 10px;
        border-radius: 2px;
        border: none;
        color: white;
        background-color: #222;
        margin: 2px 0 0 0;
        font-family: 'Varela Round', sans-serif;
        font-size: 1.1em;


        &.button-add
        {
//            padding: 5px;
//            float: right;
//            clear: right;
//            margin: 3px 0 0 0;
        }
    }

    label
    {
        display: block;
        font-size: .75em;
    }

    div.form-controls
    {

        @include clearfix();
        padding: 5px 0;
    }

    select
    {
        width: 200px;
    }

    div.form-controls--width-half
    {
        width: 50%;
        @include inline-block();

        box-sizing: border-box;
        padding-right: 30px;

        input
        {
            width: 75px;
        }
    }

    .pull-left
    {
        float: left;
    }

    .pull-right
    {
        float: right;
    }


    &.jointTestControls
    {
        position: absolute;
        top: 800px;
    }
}



div#navigator {
    position: absolute;
    right: 0;
    top: 0;
}

input[type='button']
{
    padding: 10px;
    margin: 10px;
}

div.alert
{
    position : absolute;
    top: 0;
    left: 0;
    padding: 5px;
}


@import "paper";