
$borderStyle: 4px solid black;

.rectangle
{
    position: absolute;
    border: $borderStyle;
}


form
{
    position: absolute;
    background: none;
    top: 400px;
    left: 0;
}

div#navigator {
    position: absolute;
    right: 0;
    top: 0;
}

input[type='button']
{
    padding: 10px;
    margin: 10px;
}
