<label for="cmsContentCategoryID">CMS content category</label>
<select class="" id="cmsContentCategoryID" name="cmsContentCategoryID" size="1">
  {{#each cmsContentCategories}}
  <option value="{{id}}">{{label}}</option>
  {{/each}}
</select>