<label for="cmsContentTypeID">CMS content type</label>
<select class="" id="cmsContentTypeID" name="cmsContentTypeID" size="1">
  {{#each cmsContentTypes}}
  <option value="{{id}}">{{label}}</option>
  {{/each}}
</select>