<label for="endPointTypeID">End point type</label>
<select class="" id="endPointTypeID" name="endPointTypeID" size="1">
  {{#each endPointTypes}}
  <option value="{{id}}">{{label}}</option>
  {{/each}}
</select>