<div id="action-{{ actionNum }}" class="logic-action">

    <div class="actionWrapper  actionWrapper--block">

        <div class="actionWrapperBlock">
            <div class="logic-circle"></div><span>Logic {{ actionNum }} - {{ actionLabel }}</span>
        </div>

    </div>

</div>