<label for="questionVariableType">Question variable type</label>
<select class="" id="questionVariableType" name="questionVariableType" size="1">
  {{#each questionVariableTypes}}
  <option value="{{id}}">{{label}}</option>
  {{/each}}
</select>