<label for="valueDataType">Value data type</label>
<select class="" id="valueDataType" name="valueDataType" size="1">
  {{#each valueDataTypes}}
  <option value="{{id}}">{{label}}</option>
  {{/each}}
</select>